.vgt-global-search{
  @apply bg-gray-100 border border-gray-200 rounded-lg mb-8 py-3 px-0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  @screen md {
    flex-wrap: nowrap;
  }
}
.vgt-global-search__input {
  @apply pl-3 mb-5;
  position:  relative;
  flex-grow: 1;
  @screen md {
    @apply mb-0;
  }
  .input__icon{
    @apply hidden;
  }
}
.vgt-global-search__actions {
  @apply px-3;
}

.vgt-selection-info-row{
  @apply flex text-sm font-semibold bg-orange-300 rounded-lg text-orange-700 py-2 px-4 mb-5;
  a{
    @apply ml-auto inline-block font-semibold;
  }
}
