.vgt-input, .vgt-select{
  @apply leading-tight py-2 px-3 rounded bg-white border border-gray-400;
  width: 100%;
  display: block;
  box-sizing: border-box;
  &:hover {
    @apply border-gray-300;
  }
  &:focus {
    @apply outline-none border-gray-500;
  }
  &::placeholder {
    opacity: 0.3;
  }
}