.vgt-wrap.rtl{
  direction: rtl;

  .vgt-global-search .vgt-global-search__input {
    @apply pl-0 pr-3;
  }

  .vgt-selection-info-row a {
    @apply ml-0 mr-auto;
  }

  .vgt-table{
    & th.line-numbers, & th.vgt-checkbox-col {
      @apply border-r-0 border-l;
    }
    & th{
      @apply font-semibold uppercase text-sm py-2 px-4;
      vertical-align: middle;
      position: relative;
      &.sorting {
        cursor: pointer;
        [data-fa-pseudo-element=":before"] {
          right: auto;
          left: 1.3rem;
        }
        [data-fa-pseudo-element=":after"] {
          right: auto;
          left: .6rem;
        }
      }
    }
  }
}