table.vgt-table{
  @apply bg-gray-300;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  & td {
    @apply bg-gray-200 text-gray-700 py-2 px-4;
    vertical-align: top;
  }
  & tr.clickable {
    cursor: pointer;
    &:hover{
      @apply bg-red-300;
    }
  }
}
