table.vgt-table{
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  & td {
    @apply bg-gray-200 text-gray-700 py-2 px-4;
    vertical-align: top;
  }
  & tr {
    &:not(:last-child) {
      @apply border-b border-gray-400;
    }
    &.clickable {
      cursor: pointer;
      &:hover{
        td {
          @apply bg-gray-300;
        }
      }
    }
  }
}
